**ENTIDAD Sede**

In [33]:
#Instalamos la libreria faker para la generación de nombres aleatorios. 
!pip install Faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: Faker in /usr/local/lib/python3.8/dist-packages (15.3.4)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.8/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)

In [34]:
#Importamos las librerias necesarias para la generación de datos.
#Importamos la libreria pandas para el manejo y estructuración de los datos sinteticos
import pandas as pd
#Importamos la libreria uuid para la generacion de codigos Ids propios
import uuid
#Importamos la libreria random para generacion de numeros randomicos
import random
#Importamos la libreria faker para generacion de nombres aleatorios
from faker import Factory
#Importamos la libreria datetime para las fechas
import datetime
# Cambiar la traducción de los datos sintéticos generados con la librería Faker
fake = Factory.create("es-ES")
#Importamos la libreria ExcelFile para la subida de archivos en formato xlsx
from pandas.io.excel import ExcelFile

In [35]:
# Una lista de 9 atributos
atributos = [
    "Id_Se",
    "Nombre_Se",
    "Descrip_Se",
    "Telefono_Se",
    "Estado_Se",
    "Id_Pro",
    "Id_Par",
    "Id_Can",
    "Id_IE",
]# Creamos un DF de los atributos
df = pd.DataFrame(columns=atributos)

In [36]:
#Importamos el excel con los nombres de las sedes
dfr = pd.ExcelFile('sedes.xlsx')
#Leemos el excel con los nombres de las sedes
dfr = pd.read_excel("sedes.xlsx")
#Imprimimos los nombres de las sedes
dfr.head()

                          Sedes
0                         QUITO
1               MATRIZ - CUENCA
2                 SEDE - CUENCA
3                MATRIZ - QUITO
4  MATRIZ - JOSE RUBEN ORELLANA

In [37]:
#Eliminamos los cantones duplicados del dfr
dfr = dfr.drop_duplicates()

In [38]:
#Imprimimos los datos del dfr
dfr.head(2000)

                             Sedes
0                            QUITO
1                  MATRIZ - CUENCA
2                    SEDE - CUENCA
3                   MATRIZ - QUITO
4     MATRIZ - JOSE RUBEN ORELLANA
...                            ...
1585             BAHÍA DE CARAQUEZ
1618                     SANTA ANA
1681              MATRIZ - QUEVEDO
1712                  LA CONCORDIA
1765                   SAMBORONDON

[141 rows x 1 columns]

In [39]:
"""

Crear una columna del dataframe con los nombres de las 24 provincias del Ecuador

Parámetros:
------------------------------------------------------------------------------------------
    No contiene parametros

Retorno: 
------------------------------------------------------------------------------------------
    El nombre de las sedes del Ecuador


"""
#Crear los nombres de las provincias
df.Nombre_Se = dfr

In [40]:
"""
UUID1 permite generar un ID único a partir de una secuencia de números y el tiempo actual.

Parámetros:
------------------------------------------------------------------------------------------
    No se envió parámetros

Retorno: 
------------------------------------------------------------------------------------------
    Secuencia de número de 14-bits
"""
# Asignar a una variable la cantidad de datos a generar
numero_Se = 141
# Generar los 141 IDs para los datos sintéticos y guardarlos en la columna del DataFrame
df.Id_Se = [uuid.uuid1() for i in range(numero_Se)]

In [41]:
"""
UUID1 permite generar un ID único a partir de una secuencia de números y el tiempo actual.

Parámetros:
------------------------------------------------------------------------------------------
    No se envió parámetros

Retorno: 
------------------------------------------------------------------------------------------
    Secuencia de número de 14-bits
"""
# Asignar a una variable la cantidad de datos a generar
numero_Par = 141
# Generar los 141 IDs para los datos sintéticos y guardarlos en la columna del DataFrame
df.Id_Par = [uuid.uuid1() for i in range(numero_Par)]

In [42]:
"""
UUID1 permite generar un ID único a partir de una secuencia de números y el tiempo actual.

Parámetros:
------------------------------------------------------------------------------------------
    No se envió parámetros

Retorno: 
------------------------------------------------------------------------------------------
    Secuencia de número de 14-bits
"""
# Asignar a una variable la cantidad de datos a generar
numero_Pro = 141
# Generar los 141 IDs para los datos sintéticos y guardarlos en la columna del DataFrame
df.Id_Pro = [uuid.uuid1() for i in range(numero_Pro)]

In [43]:
"""
UUID1 permite generar un ID único a partir de una secuencia de números y el tiempo actual.

Parámetros:
------------------------------------------------------------------------------------------
    No se envió parámetros

Retorno: 
------------------------------------------------------------------------------------------
    Secuencia de número de 14-bits
"""
# Asignar a una variable la cantidad de datos a generar
numero_Can = 141
# Generar los 141 IDs para los datos sintéticos y guardarlos en la columna del DataFrame
df.Id_Can = [uuid.uuid1() for i in range(numero_Can)]

In [44]:
"""
UUID1 permite generar un ID único a partir de una secuencia de números y el tiempo actual.

Parámetros:
------------------------------------------------------------------------------------------
    No se envió parámetros

Retorno: 
------------------------------------------------------------------------------------------
    Secuencia de número de 14-bits
"""
# Asignar a una variable la cantidad de datos a generar
numero_IE = 141
# Generar los 141 IDs para los datos sintéticos y guardarlos en la columna del DataFrame
df.Id_IE = [uuid.uuid1() for i in range(numero_IE)]

In [45]:
"""

Paragraph es un módulo de la librería Faker que permitegenerar párrafos con una o más oraciones sintéticas

Parámetros:
------------------------------------------------------------------------------------------
    nb_sentences: El número de oraciones que se desea generar.

Retorno: 
------------------------------------------------------------------------------------------
    Cadena de caracteres que incluye la descripción de la sede en formato de Lorem Ipsum

"""
# Asignar a una variable la cantidad de datos a generar
numero_Se_Des = 1766
# Generar las descripciones sintéticas
for i in range(numero_Se_Des):
  # Crear un párrafo con tres oraciones
  descripcion = fake.paragraph(nb_sentences=3)
  #Guardar la descripción en el DataFrame
  df.Descrip_Se[i]=descripcion

In [46]:
"""

randint es un módulo de la librería random que permite  generar un valor aleatorio numérico de tipo entero

Parámetros:
------------------------------------------------------------------------------------------
    valorInicial: El valor inicial del rango
    valorFinal: El valor final del rango

Retorno: 
------------------------------------------------------------------------------------------
    Un número entero aleatorio

"""
# Asignar a una variable la cantidad de datos a generar
numero_Se_Tel = 1766
# Generar los 5000 datos sintéticos del teléfono
for i in range(numero_Se_Tel):
  # Colocar los dos primeros números que son comúnes en Ecuador
  telefono = '09'
  # Generar los números restantes seguidos del 09 que puede ser cualquier dígito entre 0 y 9
  for _ in range(2, 10):
    # Generar un dígito aleatorio entre 0 y 9 y concatenarlo con los dígitos anteriores
    telefono = telefono + str(random.randint(0, 9))
  # Guardar los valores del telefono en el DataFrame
  df.Telefono_Se[i]=telefono

In [47]:
"""

Choice es un módulo de la librería NumPy que permite seleccionar, de entre varias opciones, un valor al azar con una probabilidad determinada

Parámetros:
------------------------------------------------------------------------------------------
    estadoOpciones: Valores que puede tomar el estado

Retorno: 
------------------------------------------------------------------------------------------
    Cadena de caracteres que incluye el estado de la sede


"""
#Crear las opciones de estado
estadoOpciones = ["Activo", "Inactivo"]
# Asignar a una variable la cantidad de datos a generar
numero_Se_Ac = 1766
# Generar los estados sintéticos
for i in range(numero_Se_Ac):
  # Seleccionar de forma aleatoria uno de los estados
  estado = random.choice(estadoOpciones)
  # Guardar el estado en el DataFrame
  df.Estado_Se[i]=estado

In [48]:
# Crear el CSV a partir del DataFrame
df.to_csv('sedes.csv')